body {
  width: 90%;
  display: grid;
  margin: 0.05rem auto;
  grid-gap: 0.5rem;
  grid-template-rows: 15vw auto 12vw;
  min-height: 100vw;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

.separador {
  padding: 1rem;
}

ul, ol {
  list-style: none;
}

.icono {
  display: block;
  color: black;
  font-size: 3vw;
  padding-left: 1vw;
  font-weight: bold;
  text-decoration: none;
}

.menu {
  height: 16vh;
  width: 100%;
  align-items: center;
  border-bottom: 2px solid black;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0);
}

.menu_left, .menu_right {
  display: flex;
  float: left;
}

.menu_right {
  float: right;
}



.menu__link {
  border-radius: 3px;
  margin: 0 5px;
  padding: 1vw 1vw;
  text-decoration: none;
  font-size: calc(10 + 1vw);
  display: block;
  text-transform: uppercase;
  color: black;
}

.menu__link:hover, .menu__link-active {
  background-color: rgba(0, 0, 0, 0.3);
  transition: 0.4s;
}



.menu__link ul {
  display: none;
  /* position: absolute; */
  min-width: 140px;
}

.menu li:hover>ul {
  display: block;
}

.menu li ul li {
  position: relative;
}

.menu li ul li ul {
  right: -140px;
  top: 0px;
}

.btn_menu {
  float: right;
  margin-right: 0px;
  font-size: 30px;
  color: black;
  cursor: pointer;
  display: none;
  padding: 1vw;
}

ul.show {
  top: 65px;
}

@media screen and (max-width: 952px) {
  .icono {
    font-size: 30px;
  }
  .menu_left li a {
    font-size: 16px;
  }
}

@media screen and (max-width: 858px) {
  .menu {
    height: 70px;
  }
  .btn_menu {
    display: inline-flex;
  }
  .menu_left {
    z-index: 10000;
    position: fixed;
    width: 100vw;
    height: calc(100% - 65px);
    background: antiquewhite;
    top: 100vh;
    text-align: center;
    transition: all 0.4s;
    flex-direction: column;
  }
  .menu_left li {
    margin: 30px 0 0 0;
    line-height: 30px;
  }
  .menu_left li:hover {
    background: none;
  }
  .menu_left li a {
    font-size: 20px;
    color: black;
    font-weight: bold;
  }
  .menu_left li a:hover {
    color: antiquewhite;
  }
  .icono {
    font-size: 25px;
    display: inline-flex;
  }
}

@media screen and (max-width: 858px) and (orientation: landscape) {
  .menu_left li {
    margin: 5px 0 0 0;
  }
  .menu_left {
    overflow: scroll;
    height: calc(100% - 65px);
  }
}

.reg {
  background-color: gray;
  width: calc(173px + 40px);
}

.reg_form {
  display: flex;
  flex-direction: column;
}

.reg_form_item {
  padding: 20px;
}

.reg_form_label {
  display: block;
  font-size: 1rem;
}

.reg_form_input {
  border-radius: 4px;
}
 


.cartWidgets {
  display: none;
  position: absolute;
  z-index: 1000;
  min-width: 140px;
  right: 25px;
  width: 15rem;
  background-color: #fff;
}

.cartWidgets:hover{
  display: block;
}

.cartWidgets__item {
  text-decoration: none;
  display: block;
  padding: 5px 10px;
  border-bottom: gray 1px solid;
}

.cartWidgets__item:hover img {
  width: 4.5rem;
  height: 4.5rem;
}

.cartWidgets__item:hover {
  color: rgba(0, 0, 0, 0.459);
}

.cartWidgets__item img {
  padding: 0px;
  display: inline-block;
  width: 4rem;
  height: 4rem;
}

.show-article {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.etiqueta {
  margin: 0.15rem;
  width: 17.2vw;
  height: 56vh;
  color: f #000;
  display: inline-block;
  border: grey 1px solid;
}

.etiqueta__nombre {
  display: inline-block;
}

.etiqueta p {
  display: inline;
}

.etiqueta span {
  display: block;
}

.etiqueta img {
  margin: auto;
  
  display: block;
  width: 15vw;
  height: 30vh;
}

.etiqueta:hover {
  color: rgba(0, 0, 0, 0.459);
}

.sinStock:hover {
  opacity: 0.5;
}

.sinStock h1 {
  display: none;
  z-index: 1;
  position: relative;
  float: right;
}

.sinStock:hover h1 {
  display: block;
}

.etiqueta__datos {
  display: inline-block;
  position: absolute;
  padding-left: 00.5rem;
}

.ItemDetailContainer {
  margin: 0.15rem;
  width: 50%;
  color: f #000;
  display: inline-block;
  border: grey 1px solid;
  align-items: center;
}

.ItemDetailContainer--nodiplay{
  display: none;
}